@import url('https://fonts.googleapis.com/css?family=Arapey|Cantarell|Comfortaa|Khand|Russo+One|Ubuntu');





/*tooltip Box*/
.con-tooltip {


    /* background: #F2D1C9; */
    /* border-radius: 9px; */
    /* margin: 10px; */
    position: relative;
    padding: 0 0px;
    font-size: 40px;
    display: inline-block;

    transition: all 0.3s ease-in-out;
    cursor: default;

    width: 100px;

}

/*tooltip */
.tooltip {
    visibility: hidden;
    z-index: 1;
    opacity: .40;
    text-align: center;

    max-width: 200px;
    padding: 0px 20px;

    background: #333;
    color: #E086D3;

    position: absolute;
    top: -140%;
    /* left: -25%; */


    border-radius: 9px;
    font-size: 18px;
    transform: translateY(9px);
    transition: all 0.3s ease-in-out;

    box-shadow: 0 0 3px rgba(56, 54, 54, 0.86);
}


/* tooltip  after*/
.tooltip::after {
    content: " ";
    width: 0;
    height: 0;

    border-style: solid;
    border-width: 12px 12.5px 0 12.5px;
    border-color: #333 transparent transparent transparent;

    position: absolute;
    left: 40%;

}

.con-tooltip:hover .tooltip {
    visibility: visible;
    transform: translateY(-10px);
    opacity: 1;
    transition: .3s linear;
    animation: odsoky 1s ease-in-out infinite alternate;

}

@keyframes odsoky {
    0% {
        transform: translateY(6px);
    }

    100% {
        transform: translateY(1px);
    }

}

/*hover ToolTip*/
.left:hover {
    transform: translateX(-6px);
}

.top:hover {
    transform: translateY(-6px);
}

.bottom:hover {
    transform: translateY(6px);
}

.right:hover {
    transform: translateX(6px);
}



/*left*/

.left .tooltip {
    top: -20%;
    left: -170%;
}

.left .tooltip::after {
    top: 40%;
    left: 90%;
    transform: rotate(-90deg);
}




/*bottom*/

.bottom .tooltip {
    top: 105%;
    left: -20%;
}

.bottom .tooltip::after {
    top: -15%;
    left: 40%;
    transform: rotate(180deg);
}



/*right*/

.right .tooltip {
    top: -20%;
    left: 115%;
}

.right .tooltip::after {
    top: 40%;
    left: -12%;
    transform: rotate(90deg);
}

h3 {
    background: #333;
    color: #E086D3;
    padding: 10px 20px;
    border-radius: 56px;
    width: 8em;
    margin: 20% auto 1% auto;

}

/* /////////////////////////////////////////////////////// */
.heading {
    background: white;
    height: 5%;
    margin: 10px;
    padding: 10px;
}

.swiper-container {
    width: 100%;
    height: 90%;
}

.swiper-slide {
    text-align: center;
    /* background: #fff; */
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-general {
    padding: 50px 0;
    margin: 0 auto;
    /* width: 1000px; */
    width: 75%;
}

.container-general .gallery-wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70vh;
}

.container-general .gallery-wrap .item {
    flex: 1;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    transition: all 0.8s ease;
}

.container-general .gallery-wrap .item:hover {
    flex: 7;
}



.wrap-effect-2 .item:hover {
    transform: translate3d(0, 0, 100px);
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    /* filter: saturate(2) contrast(120%); */
}

.wrap-effect-2 .item:first-of-type {
    background-image: url("../images/clicks/1.jpg");
}

.wrap-effect-2 .item:nth-of-type(2) {
    background-image: url("../images/clicks/2.jpg");
}

.wrap-effect-2 .item:nth-of-type(3) {
    background-image: url("../images/clicks/3.jpg");
}

.wrap-effect-2 .item:nth-of-type(4) {
    background-image: url("../images/clicks/4.jpg");
}

.wrap-effect-2 .item:nth-of-type(5) {
    background-image: url("../images/clicks/5.jpg");
}

.wrap-effect-2 .item:nth-of-type(6) {
    background-image: url("../images/clicks/6.jpg");
}

.wrap-effect-2 .item:nth-of-type(7) {
    background-image: url("../images/clicks/7.jpg");
}

.wrap-effect-2 .item:nth-of-type(8) {
    background-image: url("../images/clicks/8.jpg");
}

.wrap-effect-2 .item:nth-of-type(9) {
    background-image: url("../images/clicks/9.jpg");
}

.wrap-effect-2 .item:nth-of-type(10) {
    background-image: url("../images/clicks/10.jpg");
}

.wrap-effect-2 .item:nth-of-type(11) {
    background-image: url("../images/clicks/11.jpg");
}

.wrap-effect-2 .item:nth-of-type(12) {
    background-image: url("../images/clicks/12.jpg");
}

.wrap-effect-2 .item:last-of-type {
    background-image: url("../images/clicks/13.jpg");
}


.inspire {
    border: 1px solid rgba(22, 76, 167, 0.6);
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    margin: 10px;
    padding: 10px;
}

.inspire:after {
    background: #38ef7d;
    content: "";
    height: 155px;
    left: -75px;
    opacity: 0.4;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: -10;
}

.inspire:hover:after {
    left: 120%;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

@keyframes rotate {
    0% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }

    25% {
        transform: rotate(10deg) translate3d(0, 0, 0);
    }

    50% {
        transform: rotate(-10deg) translate3d(0, 0, 0);
    }

    75% {
        transform: rotate(5deg) translate3d(0, 0, 0);
    }

    100% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
}