@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');

body {
    background: #111;
    color: #fff6e5;
    /* #fff6e5 */
    /* font-family: PP,helvetica,arial,sans-serif; */
    font-family: Teko, sans-serif;
    font-weight: 500;
    scroll-behavior: smooth;
}

.nav-bar {
    height: 10vh;
}

.nav-item {
    color: #999 !important;
    background: #111 !important;
    padding: 10px 20px;
    font-size: 20px;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    float: right;
}

.nav-item:hover {
    border: none;
    background: rgba(0, 0, 0, 0.4) !important;
    background: #b3a577 !important;
    padding: 10px 20px;
    color: #1b1b1b !important;
    transition: 200ms;
}

.grid-container {
    display: grid;
    grid-template-columns: 1.4fr .6fr;
    width: 100%;
}
.personal-info-box{
    padding-left: 6%;
}

.myimg-container {
    margin-right: 3%;
}

.myimg {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    /* z-index: 1; */
}

.contacts-container {
    padding-left: 4%;
    height: 80%;
}

.name {
    font-size: 120px !important;
}

.bio {
    font-size: 40px;
}

.loc {
    font-size: 30px;
}

#dur-exp {
    font-size: 30px;
    font-style: italic;
}

.pagination {
    width: 20%;
    font-size: 40px;
}

.pagination span {
    margin-left: 8%;
    margin-right: 8%;
}

a,
a:visited,
a:hover,
a:active {
    color: #00a8e8;
}

a {
    text-decoration: none;
}

#awesome-txt {
    font-size: 18px;
    width: 100px;
    position: absolute;
    margin: 2%;
    text-align: center;
    opacity: 0;
    font-family: 'Mynerve', cursive;
    letter-spacing: 1px;
}

.click-me {
    font-family: 'Mynerve', cursive;
    letter-spacing: 2px;
    font-size: 20px;
}

.myimg-container:hover>#awesome-txt {
    transition: 300ms;
    transform: translateX(-150px);
    opacity: 100;
}

.it-flag {
    background-image: linear-gradient(to right, #009247, #00aa8f, #2abec8, #86cfea, #c9e0f9, #d2dbf9, #ded6f5, #e9d1ee, #e7aad3, #e781aa, #e15674, #ce2b36);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.link-container {
    display: inline-flex;
    text-align: center;
    padding-top: 1%;
    border-radius: 10px;
    padding-left: 10%;
    box-shadow: inset 0 0 10px #1f1e1e;

}

a:hover img {
    transform: scale(1.3);
    transition: 200ms;
}

.link-img {
    height: 60px;
    margin-right: 100px;
}

.pointer {
    cursor: pointer;
}

.greetings {
    margin-top: 10%;
    font-size: 50px;
    color: #b3a577;
    font-weight: 600;
    transition: 200ms;
}

.copyright-txt {
    font-size: 18px;
}

.footer {
    text-align: center;
    width: 100%;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #999;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: #111;
}

*::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 10px;
    border: 1px solid #111;
}

/* ===== Works CSS ===== */
.exp-text {
    font-size: 25px;
}

.works-container {
    display: inline-flex;
    width: 95%;
    padding-left: 4%;
}

.m-top10 {
    margin-top: 10%;
}

.exp-box {
    width: 50%;
}

.skills {
    padding: 2%;
    padding-bottom: 5%;
    width: 600px;
    /* border: solid 2px white; */
    margin-bottom: 10%;
    height: fit-content;
    border-radius: 10px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.80), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.container {
    /* margin: 100px auto; */
    width: 500px;
    padding-top: 2%;
    padding-left: 5%;
    /* text-align: center; */
}

.container span {
    font-size: 20px;
}

.progress2 {
    padding: 1px;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar2 {
    height: 3px;
    border-radius: 30px;
    background-image:
        linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    transition: 0.4s linear;
    transition-property: width, background-color;
}

.progress-moved .progress-bar2 {
    /* width: 100%; */
    animation: progressAnimation 4s;
}

.pink {
    background-color: #EF476F;
}

.purple {
    background-color: #554994
}

.perct-65 {
    width: 65% !important;
}

.perct-75 {
    width: 75% !important;
}

.perct-85 {
    width: 85% !important;
}

.perct-80 {
    width: 80% !important;
}

@keyframes progressAnimation {
    0% {
        width: 0%;
        /* background-color: #F9BCCA; */
    }

    100% {
        width: 100%;
        /* background-color: #EF476F; */
    }
}

/* ////////////////// */

.gallery {
    margin-top: 2%;
    height: auto;
    display: grid;
    grid-column-gap: 8px;
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
}

.gallery img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 16px #333;
    transition: all 1.5s ease;
}

.gallery img:hover {
    box-shadow: 0 0 32px #333;
}

.gallery .content {
    padding: 4px;
}

.gallery .gallery-item {
    transition: grid-row-start 300ms linear;
    transition: transform 300ms ease;
    transition: all 0.5s ease;
    cursor: pointer;
    width: fit-content;
}

.gallery .gallery-item:hover {
    transform: scale(1.025);
}

@media (max-width: 600px) {
    .gallery {
        grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    }
}

@media (max-width: 400px) {
    .gallery {
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    }
}

@-moz-keyframes zoomin {
    0% {
        max-width: 50%;
        transform: rotate(-30deg);
        filter: blur(4px);
    }

    30% {
        filter: blur(4px);
        transform: rotate(-80deg);
    }

    70% {
        max-width: 50%;
        transform: rotate(45deg);
    }

    100% {
        max-width: 100%;
        transform: rotate(0deg);
    }
}

@-webkit-keyframes zoomin {
    0% {
        max-width: 50%;
        transform: rotate(-30deg);
        filter: blur(4px);
    }

    30% {
        filter: blur(4px);
        transform: rotate(-80deg);
    }

    70% {
        max-width: 50%;
        transform: rotate(45deg);
    }

    100% {
        max-width: 100%;
        transform: rotate(0deg);
    }
}

@-o-keyframes zoomin {
    0% {
        max-width: 50%;
        transform: rotate(-30deg);
        filter: blur(4px);
    }

    30% {
        filter: blur(4px);
        transform: rotate(-80deg);
    }

    70% {
        max-width: 50%;
        transform: rotate(45deg);
    }

    100% {
        max-width: 100%;
        transform: rotate(0deg);
    }
}

@keyframes zoomin {
    0% {
        max-width: 50%;
        transform: rotate(-30deg);
        filter: blur(4px);
    }

    30% {
        filter: blur(4px);
        transform: rotate(-80deg);
    }

    70% {
        max-width: 50%;
        transform: rotate(45deg);
    }

    100% {
        max-width: 100%;
        transform: rotate(0deg);
    }
}

/* ////////////////////// */
.mail-form {
    width: 90%;
    z-index: 1;
}

.contact-input {
    border: 0;
    background: #2b2b2b;
    height: 50px;
    font-size: 16px;
    color: #8d8d8d;
    padding: 0 20px;
    margin-right: 1%;
    margin-top: 1%;
}

.contact-input-small {
    width: 43%;
}

.contact-input-long {
    width: 92%;
}
.flex{
    display: inline-flex;
    width: 100%;
}

.txt-area {
    padding-top: 2%;
    font-size: 16px;
    width: 92% !important;
    max-width: 100%;
    min-width: 80%;
    height: 10vh;
}
.decoy{
    width: 75% !important;
}
.button {
    position: relative;
    padding: 1.2em 1.9em;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    font-size: 18px;
    margin: 1em 0.8em;
}

.type3 {
    color: #06d6a0
}

.type3::after,
.type3::before {
    content: '';
    display: block;
    position: absolute;
    width: 20%;
    height: 20%;
    border: 2px solid;
    transition: all 0.6s ease;
    border-radius: 2px;
}

.type3::after {
    bottom: 0;
    right: 0;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: #06d6a0;
    border-right-color: #06d6a0;
}

.type3::before {
    top: 0;
    left: 0;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: #06d6a0;
    border-left-color: #06d6a0;
}

.type3:hover:after,
.type3:hover:before {
    border-bottom-color: #06d6a0;
    border-right-color: #06d6a0;
    border-top-color: #06d6a0;
    border-left-color: #06d6a0;
    width: 100%;
    height: 100%
}
#googlemaps {
    height: 80%;
    width: 38%;
    position:absolute;
    border-radius: 10px;
  }
  .contact-links{
    list-style-type: none;
  }
  .contact-links li {
    float: left;
    font-size: 40px;
    margin-left: 10%;
    cursor: pointer;
}
.contact-links a {color: #b3a577;
}
.contact-links a:hover{
    color: #111;
    background-color: #b3a577;
    padding: 5% 20%;
    transition: 200ms;
}
.qr{
    transform: rotate(13deg);
    cursor: pointer;
}